body{
  height:100%;
  margin:0;
  text-align: center;
  display: flex;
  
}




#decisioncontainer{
  flex-direction:row;
}

div {
    height: 200px;
    width: 400px;
    background: black;

button{
  margin:auto;
}