audio{
  position: fixed;
  bottom:0;
    left:0;
}
#container{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
}

#pic-area {

    background-color: aqua;
    height:65%;    
}

#text-area {
    opacity:0.5;
    background: blue;
    color:white;
    height:35%;
    position:absolute;
    bottom:0;
}

p {
    font-family:'Abril Fatface',cursive;
}

body,html{
  height:100%;
  margin:0;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;  
}















