audio{
  position: fixed;
  bottom:0;
    left:0;
}
#container{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
}

#pic-area {

    background-color: aqua;
    height:65%;    
}

#text-area {

    background: red;
    height:35%;

}

p {
    font-family:'Abril Fatface',cursive;
}















