audio{
  position: fixed;
  bottom:0;
    left:0;
}
#container{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
}

#pic-area {

    background-color: aqua;
    height:65%;    
}

#text-area {
    background-color:rgba(0,0,0,0.5);
    color:white;
    height:35%;
    position:absolute;
    bottom:0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
  
}

p {
    font-family:'Abril Fatface',cursive;
    font-size: 19px;
}

body,html{
  height:100%;
  margin:0;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;  
}

a {
  color:white;
}

#next{

  text-align: right;
}











